version: 2.1
commands:
  curlcommitpush:
    description: "Updating the language base file from the original repository"
    parameters:
      project:
        type: string
      basefilepath:
        type: string
    steps:
      - run:
          command: |
            pwd
            ls -al
            trap '.circleci/mattermost-webhook.sh << parameters.project >> ${MATTERMOST_MATTERMOD_WEBHOOK}' ERR
            trap -p
            mkdir -p << parameters.project >>
            cd << parameters.project >>
            [ -e en.json ] && rm en.json
            git config user.email "language.basefile.puller@mattermost"
            git config user.name "Language Basefile Puller"
            git pull origin ${CIRCLE_BRANCH}
            curl -OL https://raw.githubusercontent.com/mattermost/<< parameters.project >>/master/<< parameters.basefilepath >>
            git add en.json
            git status
            git commit -m "Updated << parameters.project >>. [ci skip]" --allow-empty
            git push origin ${CIRCLE_BRANCH}
  notify-weblate:
    description: "Notify weblate instance that new changes were pushed"
    parameters:
      component:
        type: string
    steps:
      - run:
          command: |
            curl --fail --show-error \
                -d operation=pull \
                -H "Authorization: Token ${WEBLATE_TOKEN}" \
                https://translate.mattermost.com/api/components/i18n-wip/<< parameters.component >>/repository/
  autotranslate:
    description: "Autotranslate already translated strings inside the mattermost wip weblate project"
    parameters:
      project:
        type: string
        default: i18n-wip
    steps:
      - run:
          command: |
            rateLimitHeader=$(curl -I -H "Authorization: Token ${WEBLATE_TOKEN}" https://translate.mattermost.com/api/ | grep x-ratelimit-remaining)
            rateLimit=$(echo ${rateLimitHeader##*:}) # remove everything until colon
            echo $rateLimit
            languagecodes=$(curl --fail --show-error --request GET --url https://translate.mattermost.com/api/projects/i18n-wip/languages/ --header 'content-type: application/json' | jq -r '.[] | .code' | tr '\n' ' ')
            for languagecode in $languagecodes
            do
              for component in "mattermost-mobile-wip" "mattermost-server-wip" "mattermost-webapp-wip"
              do
                curl --request POST \
                  --fail --show-error \
                  --url https://translate.mattermost.com/api/translations/<< parameters.project >>/$component/$languagecode/autotranslate/ \
                  -H "Authorization: Token ${WEBLATE_TOKEN}" \
                  -H "Content-Type: application/json" \
                  --data '{
                    "mode": "translate",
                    "filter_type": "nottranslated",
                    "auto_source": "others",
                    "component": "",
                    "engines": ["weblate", "weblate-translation-memory"],
                    "threshold": "80"
                }'
              done
            done

jobs:
  updatecommit:
    docker:
      - image: circleci/buildpack-deps:stable-curl
    working_directory: ~/project
    steps:
      - add_ssh_keys:
          fingerprints:
            - "77:7b:d5:ce:1f:fb:f9:13:8b:5d:90:83:32:ae:13:f9"
      - checkout
      - curlcommitpush:
          project: "mattermost-server"
          basefilepath: "i18n/en.json"
      - curlcommitpush:
          project: "mattermost-webapp"
          basefilepath: "i18n/en.json"
      - curlcommitpush:
          project: "mattermost-mobile"
          basefilepath: "assets/base/i18n/en.json"
  emptycommit:
    description: "Empty commit to not run into ci skip"
    docker:
      - image: circleci/buildpack-deps:stable-curl
    working_directory: ~/project
    steps:
      - add_ssh_keys:
          fingerprints:
            - "77:7b:d5:ce:1f:fb:f9:13:8b:5d:90:83:32:ae:13:f9"
      - checkout
      - run:
          command: |
            git config user.email "autotranslate.scheduler@mattermost"
            git config user.name "Autotranslate Scheduler"
            git pull origin ${CIRCLE_BRANCH}
            git status
            git commit -m "Empty commit. " --allow-empty
            git push origin ${CIRCLE_BRANCH}
  notify:
    docker:
      - image: circleci/buildpack-deps:stable-curl
    working_directory: ~/project
    steps:
      - notify-weblate:
          component: "mattermost-server-wip"
      - notify-weblate:
          component: "mattermost-mobile-wip"
      - notify-weblate:
          component: "mattermost-webapp-wip"
  autotranslate:
    docker:
      - image: circleci/buildpack-deps:stable-curl
    working_directory: ~/project
    steps:
      - autotranslate

workflows:
  version: 2
  scheduled-autotranslate:
    triggers:
      - schedule:
          cron: "0 * * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - emptycommit
      - autotranslate:
          context: weblate
          requires:
            - emptycommit
  untagged-build:
    jobs:
      - autotranslate:
          context: weblate
      - updatecommit:
          context: build-engineers-monitoring
      - notify:
          context: weblate
          requires:
            - updatecommit
  scheduled-pull:
    triggers:
      - schedule:
          cron: "0 0,12 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - updatecommit:
          context: build-engineers-monitoring
      - notify:
          context: weblate
          requires:
            - updatecommit
